@import '../mixins'

// Override the look & feel of the dialog.
.dialog
  //background rgba(black, 0.05)
  border-radius 0px
  //> header
  
  > .body
    //background rgba(black, 0.05)
    padding 10px 14px 4px
  
  //> footer
  //  
  
  
