@import '../mixins'

input[type="text"], input[type="password"], input[type="email"]
  border-radius 2px
  margin 3px
  padding 3px 1px


button, input[type="submit"], .button
  border-bottom-width 2px
  border-radius 18px
  padding 3px 14px
  &:active
    border-top-width 2px
