@font-face{
  font-family: 'WebSymbolsRegular';
  src: url('/fonts/symbols/websymbols-regular-webfont.eot');
  src: url('/fonts/symbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('/fonts/symbols/websymbols-regular-webfont.woff') format('woff'),
      url('/fonts/symbols/websymbols-regular-webfont.ttf') format('truetype'),
      url('/fonts/symbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.symbol {
  font-family: 'WebSymbolsRegular';
}
