@import '../../mixins'

.new-project.bubble
  fixed left 150%
  width 450px
  
  .field
    width 100%
    &.half
      display 
      width 50%
      input
        width (418px / 2)
  
  input[type="text"], input[type="password"]
    margin 7px
    width 418px
  
  button, input[type="submit"]
    float right
    margin 6px
  
  label
    relative left 20px
  
  
