@import '../mixins'

.status-404
  color #444
  text-align center
  
  h1
    color #222
    font-size 1000%
  
  h2, h3, h4, h5
    font-weight normal
    margin-bottom 20px
  h2
    font-size 220%
  h3
    font-size 170%
  h4
    font-size 130%
  h5
    font-size 100%
