@import "nib"

dblue = #4183C4
oj    = #c76404

sans-serif()
  font-family helvetica, arial, freesans, clean, sans-serif

serif()
  //font-family Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
  font-family TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif

impact()
  font-family Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif
  //font-family 'Oswald', sans-serif
  font-weight normal

geometric()
  //font-family 'Ubuntu', sans-serif
  //font-family 'Quattrocento Sans', sans-serif
  //font-family 'Cabin', sans-serif
  //font-family 'Arimo', sans-serif
  //font-family 'Andika', sans-serif
  
  //font-family 'Questrial', sans-serif
  //font-family 'Varela', sans-serif
  
  //font-family 'News Cycle', sans-serif
  //font-family 'PT Sans', sans-serif
  font-family 'PT Sans Narrow', sans-serif
  //font-family 'PT Serif', serif

user-select(stuff)
  -webkit-user-select stuff
  -moz-user-select stuff
  -ms-user-select stuff
