@import './misc/symbols.css'

@import './mixins'
@import './styles'
@import './stratus/styles'

@import "fractus"
@import "stratus-ui"

// Stratus
@import './stratus/layout'
@import './stratus/file_manager'
@import './stratus/search'
@import './stratus/dialog'
@import './stratus/snapopen'
@import './stratus/tabs'
@import './stratus/editor'

@font-face
  font-family 'Inconsolata'
  font-style normal
  font-weight normal
  src local('Inconsolata'), url('/fonts/Inconsolata.ttf') format('woff')

