@import '../../mixins'

.stratus-git-show-commit
  absolute top 0px left 0px
  bottom 0px
  font-family sans-serif
  overflow auto
  padding-top 100px
  right 0px
  
  // The author's avatar.
  > img
    absolute top 16px left 16px
    border-radius 5px
  
  > header
    absolute top 16px left 100px
    height 80px
    right 16px
    text-shadow 0px 1px 0px white
    
    // The author name.
    > h1
      color #222
      float left
    
    // Date
    > h2
      color #888
      display inline-block
      font-size 15px
      font-weight normal
      relative top 8px left 6px
    
    > .stratus-git-sha
      color #888
      float right
      font-size 14px
      font-weight normal
    
    // Commit summary.
    > p
      absolute bottom 0px left 0px
      color #444
      font-weight bold
  
  > p
    clear left
    color #444
    padding 20px 0px 20px 100px
  
  // Wrapper for the diff list.
  .stratus-git-diffs-wrapper
    background #dbdbdb
    border-top 1px solid #ccc
    border-bottom 1px solid #bbb
    box-shadow 0px 0px 7px rgba(black, 0.15)
    padding 20px
    > button
      border 1px solid #aaa
      margin-bottom 16px
      padding 6px 16px
  
  .stratus-git-diffs
    border-radius 4px
    border-right 1px solid #ddd
    border-top 1px solid #ddd
