section.projects.bubble-center
  .bubble
    header
      h1 Open Project
      h2.project-count
    
    .filter
      input(type="text", placeholder="Filter projects")
    
    ul
    
    footer
      button.new-project.primary New Project
  
  nav: ul
    li: a(href="http://stratuseditor.com") About
    li: a(href="http://sentientwaffle.github.com") Blog
  nav: ul
    li: a(href="https://github.com/stratuseditor/stratus") Source
    li: a(href="https://github.com/stratuseditor/stratus/issues") Bugs
  nav: ul
    li: a(href="http://stratuseditor.com/manual") Manual
    li: a(href="https://github.com/sentientwaffle") Contact

include new
