.new-project.bubble.bubble-center
  header
    h1 New Project
  
  .tabs.tabs-block
    nav: ul
      li.current Basic
      //li Git:Clone
      //li FTP
      //li DropBox
    
    .tab-contents
      section.current
        form(method='POST', action='/projects', class='project-type-standard')
          input(type="hidden", name="project[protocol]", value="fs")
          .field!= projectFields.name
          input(type="hidden", name="project[isPublic]", value="")
          br
          != projectFields.buttons
  
  footer
